// File to apply general styling to elements and resets for clearing browsers defaults.
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body,
html {
	height: 100%;
	margin: 0;
	width: 100%;
	color: $primaryTextColor;
	background-color: $white;
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

em,
i {
	font-style: inherit;
}

b,
strong {
	font-weight: inherit;
}

img {
	max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
	-webkit-font-smoothing: inherit;
	appearance: none;
	border: 0;
	color: inherit;
	font: inherit;
	line-height: inherit;
	margin: 0;
	padding: 0;
	background: #fff;
	outline: none;

	&::placeholder {
		opacity: 0.75;
	}
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner,
button::-moz-focus-inner {
	border: none;
	padding: 0;
}

[type='checkbox'],
[type='radio'] {
	padding: 0;
}

[hidden],
template {
	display: none;
}

iframe {
	border: 0;
}

iframe,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}

button,
.btn,
[type='button'],
[type='reset'],
[type='text'],
[type='submit'] {
	background: none;
	background-color: none;
	padding: 0;
	margin: 0;
	outline: inherit;
	border: none;
	border-radius: 0;
	transition: none;
	font-family: inherit;
	font-size: 100%;
	font-weight: $baseWeight;
	cursor: pointer;
	display: flex;
	align-items: center;

	&:focus-visible,
	&:focus-within {
		outline: none;
	}
}

a {
	color: $primaryTextColor;
	text-decoration: none;
}

// Activate below to override default body display:flex;
// Edit @/index.css file
body {
	display: block !important;
}

// Custom rules.

// General
.content-wrapper {
	max-width: 1500px;
	margin: 0 auto;
	padding: 0 40px;
}

// Components

.input-icon {
	display: flex;
	gap: 8px;
	cursor: pointer;
	padding: 0 55px 0 15px;
	background-color: $white;
	border: 1px solid $primaryTextColor;
	border-radius: 30px;
	position: relative;

	button {
		position: absolute;
		right: 15px;
		top: 0;
		bottom: 0;
	}
}

.text-input,
.form-input {
	display: flex;
	align-items: center;
	gap: 8px;
	cursor: pointer;
	padding: 0 15px;
	background-color: $white;
	border: 1px solid $primaryTextColor;
	border-radius: 30px;
}

// End
