// Start

$white: #fff;
$black: #000;

$primaryTextColor: #193029;
$primaryBgColor: #193029;

$secondaryTextColor: #12bf70;
$secondaryBgColor: #12bf70;

$schemeBg2Color: #f2f7fa;

$scheme2TextColor: #747b80;

$borderColor: #d0d5d9;

$grandient-start: #a8e0d1;
$grandient-end: #d8ebf1;
